<%- partial('_basiclayout/head') %>

<body>
<!--导航 -->
<%- partial('_basiclayout/navbarhead') %>
<!-- 内容 -->
<div class="container-fluid" style="margin-top: 60px">
    <div class="row-fluid">
        <div class="span9">
            <%- body %>
        </div>

        <div class="span3 hidden-phone">
            <%- partial('_basiclayout/navbarright') %>
        </div>
    </div>

</div>

<%- partial('_basiclayout/footer') %>
<%- partial('_basiclayout/after_footer') %>


</body>
</html>