<%- partial('_component/common/head') %>

<body>
<!--导航 -->
<%- partial('_component/bootstrap/topfixnavbar') %>
<!-- 内容 -->
<%- body %>

<%- partial('_component/common/footer') %>

<%- partial('_component/plugins/analytics/baidu')%>
</body>
</html>