<div class="container-fluid" style="margin-top: 60px">
    <div class="row-fluid">
        <div class="span9">
            <%- partial('_pagelayout/article', {item: page, index: false}) %>
            <%- partial('_component/plugins/comments/share/jiathis')%>
            <%- partial('_component/plugins/comments/duoshuo')%>
        </div>

        <div class="span3 hidden-phone">
            <%- partial('_component/donation/alipay')%>
            <%- partial('_component/bootstrap/postIndex') %>
        </div>
    </div>

</div>
