<div class="content">
    <header class="page-header">
        <% if (item.layout != 'page'){ %>
        <div class="icon"></div>
        <time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>
        <% } %>
        <%- partial('../_component/common/title') %>
    </header>
    <div class="entry" id="<%= item.layout %>">
        <%- item.content %>

    </div>



</div>